body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f3ff;
}

h1, h2, h3, h4, h5 {
    color: #333;
}

p, label {
    color: #444;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    background-color: #7b1fa2;
    padding: 140px;
    text-align: left;
	margin-left: -120px;
	margin-top: -120px
}

.header h3 {
    color: #FFF;
    margin: 0;
    font-size: 1.2em;
}

.form-container {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: -30px;
    padding: 20px 40px;
}

.form-header {
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

.form-header p {
    color: #7b1fa2;
    font-weight: bold;
    padding-bottom: 8px;
}

.form-body {
    padding: 20px 0;
}

.form-title {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.required-field {
    color: #D80835;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #cccccc;
    font-size: 0.9em;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.optional_box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.optional_list {
    list-style: none;
    padding: 0;
    margin: 0 20px 0 0;
}

.opcionais{
	display: flex;
	margin-bottom: 20px;
}

.optional_list li {
    margin-bottom: 8px;
}

.btn-submit {
    background-color: #7b1fa2;
    color: #FFF;
    border: none;
    width: 170px;
    padding: 12px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-submit:hover {
    background-color: #6a1b9a;
}
